@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('./fonts/HelveticaNeueBold.otf');
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url('./fonts/HelveticaNeueMedium.otf');
}

[data-md-color-scheme="rockharbor"] {
    --md-primary-fg-color:        #0000ff;
    --md-primary-bg-color:        #fefff3;
    --md-accent-fg-color:         #191919;
}

.md-typeset body {
   background-color: var(--md-primary-bg-color); 
}

.md-typeset title,
.md-typeset h1 {
    font-family: 'Helvetica Neue Bold';
    text-transform: uppercase;
    color: var(--md-accent-fg-color);
}

.md-typeset h2, 
.md-typeset h3, 
.md-typeset h4, 
.md-typeset h5, 
.md-typeset h6 {
    font-family: 'Helvetica Neue Bold';
    text-transform: lowercase;
}

.md-typeset p,
.md-typeset span,
.md-typeset div {
    font-family: 'Helvetica Neue Medium';
}
